---
http_interactions:
- request:
    method: get
    uri: https://api.mailgun.net/v2/address/validate?address=valid%40email.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpOmtleS0yMDkwNGU4YWE0MDA1ODAyYzc5YzQ3YWIyY2QwMzJmOQ==
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "address": "valid@email.com",
          "did_you_mean": "valid@ymail.com",
          "is_valid": true,
          "parts": {
            "display_name": null,
            "domain": "email.com",
            "local_part": "valid"
          }
        }
  recorded_at: Tue, 02 Sep 2014 07:56:04 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v2/address/validate?address=invalid_email%40%3Bgmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpOmtleS0yMDkwNGU4YWE0MDA1ODAyYzc5YzQ3YWIyY2QwMzJmOQ==
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "address": "invalid_email@;gmail.com",
          "did_you_mean": "invalid_email@gmail.com",
          "is_valid": false,
          "parts": {
            "display_name": null,
            "domain": null,
            "local_part": null
          }
        }
  recorded_at: Tue, 02 Sep 2014 07:56:05 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v2/address/validate?address=invalid_email%40%3Bgmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpOmtleS0yMDkwNGU4YWE0MDA1ODAyYzc5YzQ3YWIyY2QwMzJmOQ==
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "address": "invalid_email@;gmail.com",
          "did_you_mean": "invalid_email@gmail.com",
          "is_valid": false,
          "parts": {
            "display_name": null,
            "domain": null,
            "local_part": null
          }
        }
  recorded_at: Tue, 02 Sep 2014 07:56:05 GMT
recorded_with: VCR 2.9.2
