---
http_interactions:
- request:
    method: get
    uri: http://api.reddit.com/r/lifeprotips/about
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Moose:
      - majestic
    body:
      encoding: UTF-8
      string: '{"kind": "t5", "data": {"submit_text_html": "&lt;!-- SC_OFF --&gt;&lt;div
        class=\"md\"&gt;&lt;p&gt;Read the rules before submitting your content. Also,
        don&amp;#39;t forget to flair your post!&lt;/p&gt;\n\n&lt;p&gt;Only post tips
        that you&amp;#39;ve found worked. No &amp;quot;theoretical&amp;quot; tips
        will be allowed.&lt;/p&gt;\n&lt;/div&gt;&lt;!-- SC_ON --&gt;", "user_is_banned":
        null, "id": "2s5oq", "submit_text": "Read the rules before submitting your
        content. Also, don''t forget to flair your post!\n\nOnly post tips that you''ve
        found worked. No \"theoretical\" tips will be allowed.", "display_name": "LifeProTips",
        "header_img": null, "description_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;&lt;em&gt;Welcome
        to Life Pro Tips! Tips that improve your life in one way or another.&lt;/em&gt;&lt;/p&gt;\n\n&lt;p&gt;&lt;a
        href=\"http://www.lifeprotips.com\"&gt;Life Pro Tips&lt;/a&gt;&lt;/p&gt;\n\n&lt;p&gt;&lt;a
        href=\"http://twitter.com/lifeprotips\"&gt;Follow us @lifeprotips on twitter
        too: &lt;/a&gt;&lt;/p&gt;\n\n&lt;p&gt;An LPT is a tip that improves your life
        in a meaningful way. Share your best tips you&amp;#39;ve picked up throughout
        your life!&lt;/p&gt;\n\n&lt;p&gt;&lt;a href=\"http://www.reddit.com/r/LifeProTips/top/?sort=top&amp;amp;t=all\"&gt;Click
        here&lt;/a&gt; to view the top rated LifeProTips of all time!&lt;/p&gt;\n\n&lt;h1&gt;&lt;strong&gt;Rules:&lt;/strong&gt;&lt;/h1&gt;\n\n&lt;ul&gt;\n&lt;li&gt;&lt;p&gt;Prefix
        your submissions with [...]
[...]
- request:
    method: get
    uri: http://api.reddit.com/r/kajsdflkajsdflkjasdflkajsdfl/about
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Moose:
      - majestic
    body:
      encoding: UTF-8
      string: '{"error": 404}'
  recorded_at: Tue, 02 Sep 2014 16:33:19 GMT
- request:
    method: get
    uri: http://api.reddit.com/r/funny/top?limit=100&t=day
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Moose:
      - majestic
    body:
      encoding: UTF-8
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t3",
        "data": {"domain": "imgur.com", "banned_by": null, "media_embed": {}, "subreddit":
        "funny", "selftext_html": null, "selftext": "", "likes": null, "secure_media":
        null, "link_flair_text": null, "id": "2f7fdx", "gilded": 0, "secure_media_embed":
        {}, "clicked": false, "stickied": false, "author": "halvarvonflake", "media":
        null, "score": 4391, "approved_by": null, "over_18": true, "hidden": false,
        "thumbnail": "nsfw", "subreddit_id": "t5_2qh33", "edited": false, "link_flair_css_class":
        null, "author_flair_css_class": null, "downs": 0, "saved": false, "is_self":
        false, "permalink": "/r/funny/comments/2f7fdx/the_difference_between_us_and_swiss_media/",
        "name": "t3_2f7fdx", "created": 1409614509.0, "url": "http://imgur.com/AuaztEW",
        "author_flair_text": null, "title": "The difference between US and Swiss media
        (slightly NSFW, visible nip)", "created_utc": 1409610909.0, "ups": 4391, "num_comments":
        1405, "visited": false, "num_reports": null, "distinguished": null}}, {"kind":
        "t3", "data": {"domain": "i.imgur.com", "banned_by": null, "media_embed":
        {}, "subreddit": "funny", "selftext_html": null, "selftext": "", "likes":
        null, "secure_media": null, "link_flair_text": null, "id": "2f75xl", "gilded":
        0, "secure_media_embed": {}, "clicked": false, "stickied": false, "author":
        "ImaCulpA", "media": null, "score": 4153, "approved_by": null, "over_18":
        false, "hidden": false, "thumbnail": "http://b.thumbs.red[...]
[...]
- request:
    method: get
    uri: http://api.reddit.com/r/lifeprotips/top?limit=100&t=day
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Moose:
      - majestic
    body:
      encoding: UTF-8
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t3",
        "data": {"domain": "self.LifeProTips", "banned_by": nul[...]
[...]
- request:
    method: get
    uri: http://api.reddit.com/r/asdfjhaklsdfjalskdfjasfd/top?limit=100&t=day
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Moose:
      - majestic
    body:
      encoding: UTF-8
      string: '{"error": 404}'
  recorded_at: Sat, 06 Sep 2014 00:50:14 GMT
recorded_with: VCR 2.9.2
